In [3]:
import pandas as pd

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
data = pd.read_excel("iris_train.xlsx")

In [17]:
data.head()

   sepallength  Sepalwidth  petallength  petalwidth         clas
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa